.zone4{
    width: 90%;
    height: 500px;
    background-color: rgb(57, 9, 50);
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 2%;
    animation-name: effet1;
    animation-duration: 4s;
    animation-delay: 4s;
    cursor: default;
}
.zone4 p{padding-top: 20px;}
@keyframes effet1 {
    from{background-color: rgb(57, 9, 50) ;}
    to{background-color: rgb(192, 16, 157);}
}

.zone4 h1 {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
     width: 100%;
    }
  }